body{
    margin: 0;
    background-color: rgb(27, 25, 25);
}

p, h1, h2, h3, a{
    color: aliceblue;
}

.banniere {
    background-color: #61787F;
    height: 100px; /* Fixe une hauteur pour la bannière */
    display: flex; /* Utilise flexbox pour aligner le logo et le texte */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Sépare les éléments de manière égale */
    padding: 0 50px; /* Ajoute un espace intérieur à gauche et à droite */
    position: absolute; /* Fixe la bannière en haut de la page */
    width: 100%; /* Fait en sorte que la bannière occupe toute la largeur de l'écran */
    top: 0; /* Place la bannière en haut */
     /* Assure que la bannière reste au-dessus des autres éléments */
}

.logo {
    width: 120px; /* Largeur de l'image */
    height: auto; /* Garde le ratio de l'image */
}

#titre {
    font-size: 30px;
    color: white; /* Met le texte en blanc pour le contraster avec le fond */
    line-height: 1; /* Ajuste la hauteur de ligne pour le texte */
    text-align: center;
}

section{

    margin: 50px 0;
    padding: 10px;
    display: block;
}
#categoriesIcon {
    position: absolute; /* Positionner l'icône dans la bannière */
    left: 20px; /* Aligner l'icône sur la gauche */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajuster pour le centrer parfaitement */
    font-size: 24px; /* Taille de l'icône */
    background-color: transparent; /* Supprimer l'arrière-plan */
    border: none; /* Supprimer les bordures */
    color: white; /* Assortir la couleur à celle du texte du titre */
    cursor: pointer; /* Ajouter un pointeur survolant */
    z-index: 1100; /* Assure que l'icône est au-dessus des autres éléments */
}

#categoriesIcon i {
    font-size: inherit; /* Appliquer la taille de l'icône au conteneur */
    vertical-align: middle; /* Centrer l'icône dans le bouton */
}

.categories-nav {
    transition: transform 0.3s ease; /* Ajoute une animation pour afficher/masquer la barre */
    transform: translateX(100%); /* Par défaut, cache la barre en dehors de l'écran */
}

.categories-nav.active {
    transform: translateX(0); /* Affiche la barre lorsqu'elle est active */
}


.cadre {
    display: flex; /* Affiche les colonnes de manière horizontale */
    flex-direction: row; /* Les enfants de .cadre seront organisés en ligne */
    border: 5px solid black;
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    position: relative;
}

p{
    font-size:large;
}

.toPimage {
    grid-column: 1; /* Place l'image dans la première colonne */
    grid-row: 2;    /* Place l'image dans la deuxième ligne */
    display: grid;
    align-content: space-between;
    justify-items: center;

}

.text-col {
    flex: 1;
    padding: 1px;
    font-size: 40px;
    display: grid;
    
}


.text-col-p {
    font-size: 25px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    grid-column: 2;
    grid-row: 2;
    display: grid;
   align-items: start;
}

.btn-danger {
    background-color: red;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    height: 80px;
    position: relative;
    top: 220px;
    left: 430px; 
}


.categorie {
    margin-left: 5%;
    margin-bottom: 30px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 270px;
}
.container2 {
    display: flex;             /* Utilisation de Flexbox pour aligner les images horizontalement */
    justify-content: space-between; /* Espace égal entre les images */
    flex-wrap: wrap;           /* Permet à l'affichage de s'ajuster si l'écran est trop petit */
                  /* Espace de 20px entre les images */
}

.film-item img {
    width: 200px;  /* Taille des images */
    height: auto;   /* Garder les proportions de l'image */
    border-radius: 8px; /* Pour donner un effet arrondi */
}

/* Limiter la taille des images dans le carrousel pour qu'elles ne couvrent pas les boutons */
.carousel-inner {
    overflow: hidden;  /* Empêche les images de déborder */
}

/* Les images du carrousel */
.carousel-item img {
    width: 100%;        /* Réduit la largeur des images à 80% de leur conteneur */
    height: auto;      /* La hauteur sera ajustée proportionnellement */
    object-fit: contain; /* L'image s'adapte sans être déformée */
    margin: 0 auto;    /* Centrer l'image horizontalement */
}

/* Positionnement des contrôles (Previous et Next) */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;  /* Positionner les contrôles par rapport au carrousel */
    top: 50%;            /* Centrer les boutons verticalement */
    transform: translateY(-50%);  /* Centrage parfait */
    z-index: 10;         /* S'assurer que les boutons soient au-dessus des images */
    border: none;
    padding: 10px;
    width: 5%;           /* Ajustez la largeur des boutons si nécessaire */
}

/* Placer les boutons de navigation à gauche et à droite */
.carousel-control-prev {
    left: 0px;          /* Décalage du bouton "Previous" vers la gauche */
}

.carousel-control-next {
    right: 0px;         /* Décalage du bouton "Next" vers la droite */
}

/* Boutons Next et Previous */
.carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Assurez-vous que les boutons sont toujours au-dessus du carrousel */
    width: 5%; /* Vous pouvez ajuster la largeur des boutons si nécessaire */
    background-color: rgba(0, 0, 0, 10); /* Couleur de fond transparente pour améliorer la visibilité */
    border: none;
    padding: 10px;
}

.carousel-item img {
    max-width: 100%;    /* Limite la largeur de l'image à 80% de l'élément carrousel */
    height: auto;      /* Ajuste la hauteur automatiquement */
    object-fit: contain; /* Assure que l'image reste à l'intérieur de son conteneur sans être coupée */
    margin: 0 auto;    /* Centrer l'image horizontalement */
    border-radius: 8px;
}


/* Conteneur de l'image */
.film-image-container {
    position: relative;
    width: 100%;
    height: 100%;  /* Assure que la taille est cohérente */
    overflow: hidden;
}

/* Assure que l'image occupe toute la taille de son conteneur sans être déformée */
.film-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* L'image remplit le conteneur sans déformation */
    transition: transform 0.3s ease;  /* Ajoute une transition pour le zoom de l'image */
}

/* Overlay qui apparaît au survol */
.film-image-container:hover .overlay {
    opacity: 1;
    visibility: visible;
}

/* Style de l'overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);  /* Filtre transparent */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 10px;
}

/* Titre du film dans l'overlay */
.overlay h5 {
    margin: 0;
    font-size: 1.25rem;
    text-align: center;
}

/* Effet de zoom léger au survol de l'image */
.film-image-container:hover img {
    transform: scale(1.05);  /* Zoom léger */
}


input[type="checkbox"] {
    display: none;
}

/* Style du label, qui servira de bouton pour ouvrir/fermer le menu */
label {
    display: inline-block;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    position: relative;
    left: 20%;
    bottom: 55px ;  
}

label::after {
    content: "\25BC"; /* Code unicode pour le triangle pointant vers le bas */
    display: inline-block;
    color: #ddd;
    margin-left: 270px;
}

/* Masquer la liste par défaut */
ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    list-style-type: none;
    padding: 0;
    position: relative;
    left: 35%;
    bottom: 85px;
}

/* Afficher la liste lorsque la checkbox est cochée */
input[type="checkbox"]:checked ~ ul {
    max-height: 1050px; /* Valeur suffisamment grande pour afficher toutes les catégories */
    transition: max-height 0.6s ease-in;
}

/* Style des liens */
ul li {
    background-color: #333;
    border-bottom: 1px solid #ddd;
    align-items: center;
    text-align: center;
    width: 300px;
}

ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ddd;
}

footer {
    background-color: #61787F;
    color: white; /* Optionnel : texte en blanc pour le contraste */
    padding: 20px; /* Optionnel : ajoute de l'espace autour du contenu */
    text-align: center; /* Optionnel : centre le texte */
    

}


@media (max-width: 1400px) {
    .cadre {
        flex-direction: column; /* Colonnes empilées sur petits écrans */
        width: 90%; /* Ajuster la largeur pour les petits écrans */
    }

    .topImg {
        max-width: 100%; /* L'image occupera 100% de la largeur du conteneur */
    }

    .text-col h2 {
        font-size: 2.5em; /* Réduire la taille du titre pour les petits écrans */
    }

    .text-col p {
        font-size: 1.2em; /* Réduire la taille du texte pour les petits écrans */
    }

    .bestmovie {
        margin-left: 5%; /* Ajuster la marge pour les petits écrans */
    }

    .btn-danger {
        width: 90%; /* Le bouton prendra 90% de la largeur sur les petits écrans */
        height: 50px; /* Ajuster la hauteur si nécessaire pour les écrans plus petits */
        font-size: 14px; /* Réduire la taille de police sur les petits écrans */
        position: relative;
        top: 220px;
        left: 200px;

    }
    .banniere {
        background-color: #61787F;
        height: 100px; /* Fixe une hauteur pour la bannière */
        display: flex; /* Utilise flexbox pour aligner le logo et le texte */
        flex-direction: row;
        align-items: center; /* Centre verticalement les éléments */
        justify-content: center; /* Sépare les éléments de manière égale */
        padding: 0 50px; /* Ajoute un espace intérieur à gauche et à droite */
        position: absolute; /* Fixe la bannière en haut de la page */
        width: 100%; /* Fait en sorte que la bannière occupe toute la largeur de l'écran */
        top: 0; /* Place la bannière en haut */
         /* Assure que la bannière reste au-dessus des autres éléments */
    }
}

@media (max-width: 940px) {
    .text-col h2 {
        font-size: 2em; /* Taille de police encore plus petite pour les très petits écrans */
    }

    .text-col p {
        font-size: 1em; /* Réduire encore la taille du texte */
    }
    .banniere {
        background-color: #61787F;
        height: 100px; /* Fixe une hauteur pour la bannière */
        display: flex; /* Utilise flexbox pour aligner le logo et le texte */
        flex-direction: column;
        align-items: center; /* Centre verticalement les éléments */
        justify-content: center; /* Sépare les éléments de manière égale */
        padding: 0 50px; /* Ajoute un espace intérieur à gauche et à droite */
        position: absolute; /* Fixe la bannière en haut de la page */
        width: 100%; /* Fait en sorte que la bannière occupe toute la largeur de l'écran */
        top: 0; /* Place la bannière en haut */

         /* Assure que la bannière reste au-dessus des autres éléments */
    }
    .btn-danger {
        width: 90%; /* Le bouton prendra 90% de la largeur sur les petits écrans */
        height: 50px; /* Ajuster la hauteur si nécessaire pour les écrans plus petits */
        font-size: 14px; /* Réduire la taille de police sur les petits écrans */
        position: relative;
        top: 220px;
        left: 200px;

    }

}






